<div>
	<%= label_tag :start_date, "Start Date" %>
	<%= text_field_tag :start_date %>
</div>
<div>
	<%= label_tag :end_date, "End Date" %>
	<%= text_field_tag :end_date, Time.now.strftime('%m/%d/%Y') %>
</div>