// Place all the styles related to the Licenses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#license-pagination{
	overflow:auto;
	margin: 0px auto;
	height: 680px;
	/*border: 1px solid;*/
	position: relative;
}

#paginator{
	position: absolute;
	display: block;
	width: 100%;
}

#paginator span.pages{
	display: block;
	float: left;
}

#paginator span.page_number{
	display: block;
	float: right;
	font-weight: bold;
}

#license_table {
	border: 0;
	font-family: helvetica;
	font-size: 14px;
}

#page_load {
	background: url('/assets/page-spinner.gif') black no-repeat center center;
	opacity: 0.4;
	z-index: 10;
	width: 80%;
	height: 700px;
}

#page_load, #license_data {
	position: absolute;
}

#license_data{
	/*border: 1px solid;*/
	height: 700px;
}

.loading_pages{
	width: 80%;
	height: 700px;
	margin: 0 auto;
	text-align: center;
}

.page,.first,.prev,.next,.last {
	background: #f7f7f7;
	padding: 5px 5px;
	margin: 2px;
	border: 1px solid #c6c6c6;
	font-weight: bold;
	border-radius: 3px;
}

.page a,.first a,.prev a,.next a,.last a {
	text-decoration: none;
	color: #7e7e7e;
}

.current,.page:hover,.first:hover,.prev:hover,.next:hover,.last:hover {
	background: #9ad6fb;

	-webkit-transition: all 0.25s ease 0s;
	-moz-transition: all 0.25s ease 0s;
	-o-transition: all 0.25s ease 0s;
	-ms-transition: all 0.25s ease 0s;
	transition: all 0.25s ease 0s;
}



